In [1]:
from openpyxl import load_workbook, Workbook
import pandas as pd

In [2]:
seronet_data = pd.read_excel(io = "./seronet-data-submission-template.xlsx",
                        sheet_name = None,
                        engine = "openpyxl")

In [29]:
seronet_data['demographic']

,subject_id,age,race,ethnicity,sex,marital status,pregnancy_status
0,S123456,12,White,Not Hispanic or Latino,Male,NaN,NaN
1,S123457,23,American Indian or Alaska Native,Not Hispanic or Latino,Female,NaN,NaN
2,S123458,34,Black or African American,Hispanic or Latino,Other,NaN,NaN
3,S123459,45,Asian,Not Hispanic or Latino,Not Reported,NaN,NaN
4,S123460,56,Native Hawaiian or Other Pacific Islander,Not Hispanic or Latino,Unknown,NaN,NaN
5,S123461,67,Other,Not Hispanic or Latino,Male,NaN,NaN
6,S123462,78,Multirace,Not Hispanic or Latino,Female,NaN,NaN
7,S123463,89,Unknown,Not Hispanic or Latino,Other,NaN,NaN
8,S123464,90,Not Reported,Not Hispanic or Latino,Not Reported,NaN,NaN

In [27]:
immport_subjectHumans_template = pd.read_csv("./ImmPortTemplates/txt-templates/subjectHumans.txt", sep = "\t", header = 2)

In [28]:
immport_subjectHumans_template.columns

Index(['Column Name', 'Subject ID', 'Arm Or Cohort ID', 'Gender',
       'Min Subject Age', 'Max Subject Age', 'Age Unit', 'Age Event',
       'Age Event Specify', 'Subject Phenotype', 'Subject Location',
       'Ethnicity', 'Race', 'Race Specify', 'Description',
       'Result Separator Column', 'Exposure Process Reported',
       'Exposure Material Reported', 'Exposure Material ID',
       'Disease Reported', 'Disease Ontology ID', 'Disease Stage Reported'],
      dtype='object')