In [1]:
from dataclasses import dataclass, field
import pandas as pd
from openpyxl import load_workbook, Workbook

In [2]:
henry = pd.read_csv('/Users/liualg/Desktop/June_upload/update2/seronet_studies_061522b.txt', sep = '\t')
henry.tail()

,Unnamed: 0,STUDY_ACCESSION,ACTUAL_COMPLETION_DATE,ACTUAL_ENROLLMENT,ACTUAL_START_DATE,AGE_UNIT,BRIEF_DESCRIPTION,BRIEF_TITLE,CLINICAL_TRIAL,CONDITION_STUDIED,...,SPONSORING_ORGANIZATION,TARGET_ENROLLMENT,TYPE,UPLOAD_TICKET_NUMBER,STUDY_ID,WORKSPACE_ID,DATE_CREATED,CREATED_BY,DATE_LAST_UPDATED,LAST_UPDATED_BY
41,77,SDY1975,NaN,5.0,NaN,Years,AdCOVID promotes concomitant systemic and muco...,Single-Dose Intranasal Administration of AdCOV...,N,NaN,...,Altimmune Inc.,NaN,NaN,aleliu_20220527_32699,PMID34452006_study-01,6661,2022-05-27 11:00:15.0,aleliu,2022-05-27 11:00:15.0,aleliu
42,78,SDY1976,NaN,4.0,NaN,Years,We evaluated pediatric and adult blood and dec...,Shared B cell memory to coronaviruses and othe...,N,NaN,...,Stanford University,NaN,NaN,aleliu_20220527_32746,PMID33846272_study-01,6661,2022-05-27 15:30:14.0,aleliu,2022-05-27 15:30:14.0,aleliu
43,79,SDY1977,NaN,2.0,NaN,Years,We report data on uptake and perspectives on S...,"SARS-CoV-2 vaccine uptake, perspectives, and a...",N,NaN,...,Cedars-sinai,208.0,NaN,aleliu_20220527_32751,PMID34687893_study-011,6661,2022-05-27 16:10:14.0,aleliu,2022-05-27 16:10:14.0,aleliu
44,80,SDY1978,NaN,7.0,NaN,Years,Severe acute respiratory syndrome coronavirus-...,Roles of antiviral sensing and type I interfer...,N,NaN,...,Upr-school of Medicine,NaN,NaN,aleliu_20220527_32756,PMID34877479,6661,2022-05-27 16:20:14.0,aleliu,2022-05-27 16:20:14.0,aleliu
45,81,SDY1990,NaN,2.0,2020-03-01 00:00:00.0,Years,We assessed the kinetics and durability of SAR...,Summary,N,NaN,...,La Jolla Institute for Immunology,NaN,NaN,aleliu_20220614_32902,PMID33408181_study,6661,2022-06-14 11:25:14.0,aleliu,2022-06-14 11:25:14.0,aleliu

In [3]:
henry.iloc[[1,45]]

,Unnamed: 0,STUDY_ACCESSION,ACTUAL_COMPLETION_DATE,ACTUAL_ENROLLMENT,ACTUAL_START_DATE,AGE_UNIT,BRIEF_DESCRIPTION,BRIEF_TITLE,CLINICAL_TRIAL,CONDITION_STUDIED,...,SPONSORING_ORGANIZATION,TARGET_ENROLLMENT,TYPE,UPLOAD_TICKET_NUMBER,STUDY_ID,WORKSPACE_ID,DATE_CREATED,CREATED_BY,DATE_LAST_UPDATED,LAST_UPDATED_BY
1,3,SDY1782,NaN,187.0,NaN,Years,SARS-CoV-2-specific IgG to the Spike protein w...,Immunological memory to SARS-CoV-2 assessed fo...,N,COVID-19,...,"NIAID, other",NaN,NaN,mrbast_20210609_28940,PMID33408181,6661,2021-06-09 10:50:08.0,heschaefer,2022-05-26 15:16:45.0,revepa
45,81,SDY1990,NaN,2.0,2020-03-01 00:00:00.0,Years,We assessed the kinetics and durability of SAR...,Summary,N,NaN,...,La Jolla Institute for Immunology,NaN,NaN,aleliu_20220614_32902,PMID33408181_study,6661,2022-06-14 11:25:14.0,aleliu,2022-06-14 11:25:14.0,aleliu

In [4]:
henry[henry['STUDY_ID'] == 'PMID34835131']

,Unnamed: 0,STUDY_ACCESSION,ACTUAL_COMPLETION_DATE,ACTUAL_ENROLLMENT,ACTUAL_START_DATE,AGE_UNIT,BRIEF_DESCRIPTION,BRIEF_TITLE,CLINICAL_TRIAL,CONDITION_STUDIED,...,SPONSORING_ORGANIZATION,TARGET_ENROLLMENT,TYPE,UPLOAD_TICKET_NUMBER,STUDY_ID,WORKSPACE_ID,DATE_CREATED,CREATED_BY,DATE_LAST_UPDATED,LAST_UPDATED_BY
28,64,SDY1932,NaN,NaN,NaN,Years,To characterize serological responses to coron...,Cross-Reactive Antibodies to SARS-CoV-2 and ME...,N,COVID-19,...,"Tulane, NCI, NIAID, NIH OD",NaN,NaN,heschaefer_20220311_31553,PMID34835131,6661,2022-03-11 09:10:14.0,heschaefer,2022-03-17 13:22:10.0,mrbast

In [5]:
henry.columns

Index(['Unnamed: 0', 'STUDY_ACCESSION', 'ACTUAL_COMPLETION_DATE',
       'ACTUAL_ENROLLMENT', 'ACTUAL_START_DATE', 'AGE_UNIT',
       'BRIEF_DESCRIPTION', 'BRIEF_TITLE', 'CLINICAL_TRIAL',
       'CONDITION_STUDIED', 'DCL_ID', 'DELETE_STUDY', 'STUDY_DESCRIPTION',
       'DOI', 'DOWNLOAD_PAGE_AVAILABLE', 'ENDPOINTS',
       'FINAL_PUBLIC_RELEASE_DATE', 'GENDER_INCLUDED', 'HYPOTHESIS',
       'INITIAL_DATA_RELEASE_DATE', 'INITIAL_DATA_RELEASE_VERSION',
       'INTERVENTION_AGENT', 'LATEST_DATA_RELEASE_DATE',
       'LATEST_DATA_RELEASE_VERSION', 'MAXIMUM_AGE', 'MINIMUM_AGE',
       'OBJECTIVES', 'OFFICIAL_TITLE', 'PLANNED_PUBLIC_RELEASE_DATE',
       'SHARED_STUDY', 'SPONSORING_ORGANIZATION', 'TARGET_ENROLLMENT', 'TYPE',
       'UPLOAD_TICKET_NUMBER', 'STUDY_ID', 'WORKSPACE_ID', 'DATE_CREATED',
       'CREATED_BY', 'DATE_LAST_UPDATED', 'LAST_UPDATED_BY'],
      dtype='object')

In [6]:
import re
henry2 =[]
print(len(henry.STUDY_ID))
result = re.findall(r'\d{8}',' '.join(henry.STUDY_ID))
print(f'{len(result)}\n')
for i in result:
#     print(i)
    henry2.append(i)

46
46

In [7]:
seronet = pd.read_excel('/Users/liualg/Documents/SeroNet/Reports/June/Immport-JuneUploadBreakdown.xlsx')
seronet.head()

,Pmid,Sharing Date,Henry received,Elaine Reviews,Uploadable,Error,Basic,protocol,experiment,reagent,human,organism,assessment,Experiment Samples,Unnamed: 14,Notes,Unnamed: 16
0,34652783.0,2022-04-06 00:00:00,y,y,aleliu_20220524_32503,NaN,y,y,y,y,y,NaN,NaN,NaN,NaN,NaN,y = yes
1,34696403.0,2022-04-20 00:00:00,y,y,aleliu_20220524_32504,NaN,e,e,y,y,y,NaN,NaN,NaN,NaN,NaN,e = exists
2,34095338.0,2022-04-06 00:00:00,y,y,aleliu_20220524_32505,NaN,e,e,y,y,y,NaN,n,NaN,NaN,NaN,NaN
3,33276369.0,2022-04-21 00:00:00,n,y,aleliu_20220524_32506,NaN,e,e,y,y,NaN,y,NaN,NaN,NaN,NaN,NaN
4,34161961.0,2022-04-21 00:00:00,n,y,aleliu_20220524_32507,NaN,y,y,y,y,NaN,y,NaN,NaN,NaN,NaN,NaN

In [8]:
print(f'total papers:\nImmPort- {len(henry2)}\nSeroNet- {len(set(seronet.Pmid.dropna()))}')
print('------------')
print(f'Overlapped papers: {len(set(seronet.Pmid.dropna().astype(int).astype(str)).intersection(set(henry2)))}')

total papers:
ImmPort- 46
SeroNet- 45
------------
Overlapped papers: 44

In [9]:
print(f'Discrepancies:')
print(set(seronet.Pmid.dropna().astype(int).astype(str)) - set(henry2))
print(set(henry2) - set(seronet.Pmid.dropna().astype(int).astype(str)))

Discrepancies:
{'34937699'}
{'34835131'}

In [10]:
# CHECKING OTHER THINGS 
henry_subject = pd.read_csv('/Users/liualg/Desktop/June_upload/update2/seronet_subject_report_061522b.txt', sep ='\t')
henry_subject.columns

Index(['STUDY_ACCESSION', 'ACTUAL_COMPLETION_DATE', 'ACTUAL_ENROLLMENT',
       'ACTUAL_START_DATE', 'AGE_UNIT_x', 'BRIEF_DESCRIPTION', 'BRIEF_TITLE',
       'CLINICAL_TRIAL', 'CONDITION_STUDIED', 'DCL_ID', 'DELETE_STUDY',
       'STUDY_DESCRIPTION', 'DOI', 'DOWNLOAD_PAGE_AVAILABLE', 'ENDPOINTS',
       'FINAL_PUBLIC_RELEASE_DATE', 'GENDER_INCLUDED', 'HYPOTHESIS',
       'INITIAL_DATA_RELEASE_DATE', 'INITIAL_DATA_RELEASE_VERSION',
       'INTERVENTION_AGENT', 'LATEST_DATA_RELEASE_DATE',
       'LATEST_DATA_RELEASE_VERSION', 'MAXIMUM_AGE', 'MINIMUM_AGE',
       'OBJECTIVES', 'OFFICIAL_TITLE', 'PLANNED_PUBLIC_RELEASE_DATE',
       'SHARED_STUDY', 'SPONSORING_ORGANIZATION', 'TARGET_ENROLLMENT', 'TYPE',
       'UPLOAD_TICKET_NUMBER_x', 'STUDY_ID', 'WORKSPACE_ID_x',
       'DATE_CREATED_x', 'CREATED_BY_x', 'DATE_LAST_UPDATED_x',
       'LAST_UPDATED_BY_x', 'ARM_ACCESSION_x', 'ARM_DESCRIPTION', 'ARM_NAME',
       'TYPE_REPORTED', 'UPLOAD_TICKET_NUMBER_y', 'ARM_ID', 'WORKSPACE_ID_y',
       'DATE_CREATED_y', 'CREATED_BY_y', 'DATE_LAST_UPDATED_y',
       'LAST_UPDATED_BY_y', 'TYPE_PREFERRED', 'SUBJECT_ACCESSION', 'AGE_EVENT',
       'AGE_EVENT_SPECIFY', 'AGE_UNIT_y', 'MAX_SUBJECT_AGE', 'MIN_SUBJECT_AGE',
       'SUBJECT_PHENOTYPE', 'UPLOAD_TICKET_NUMBER_x.1', 'DATE_CREATED_x.1',
       'CREATED_BY_x.1', 'DATE_LAST_UPDATED_x.1', 'LAST_UPDATED_BY_x.1',
       'SUBJECT_LOCATION', 'MAX_SUBJECT_AGE_IN_YEARS',
       'MIN_SUBJECT_AGE_IN_YEARS', 'ANCESTRAL_POPULATION', 'DESCRIPTION',
       'ETHNICITY', 'GENDER', 'RACE', 'RACE_SPECIFY', 'SPECIES', 'STRAIN',
       'STRAIN_CHARACTERISTICS', 'UPLOAD_TICKET_NUMBER_y.1', 'SUBJECT_ID',
       'WORKSPACE_ID', 'DATE_CREATED_y.1', 'CREATED_BY_y.1',
       'DATE_LAST_UPDATED_y.1', 'LAST_UPDATED_BY_y.1', 'EXPOSURE_ACCESSION',
       'ARM_ACCESSION_y', 'EXPOSURE_PROCESS_REPORTED',
       'EXPOSURE_PROCESS_PREFERRED', 'EXPOSURE_MATERIAL_REPORTED',
       'EXPOSURE_MATERIAL_PREFERRED', 'EXPOSURE_MATERIAL_ID',
       'DISEASE_REPORTED', 'DISEASE_PREFERRED', 'DISEASE_ONTOLOGY_ID',
       'DISEASE_STAGE_REPORTED', 'DISEASE_STAGE_PREFERRED',
       'UPLOAD_TICKET_NUMBER', 'DATE_CREATED', 'CREATED_BY',
       'DATE_LAST_UPDATED', 'LAST_UPDATED_BY'],
      dtype='object')

In [11]:
len(henry_subject) - 187

155

In [12]:
henry_subject.STUDY_ACCESSION.value_counts()

SDY1782    187
SDY1890      8
SDY1927      8
SDY1818      7
SDY1868      7
SDY1978      7
SDY1974      6
SDY1963      6
SDY1916      6
SDY1812      6
SDY1966      6
SDY1831      5
SDY1803      5
SDY1973      5
SDY1975      5
SDY1962      4
SDY1829      4
SDY1819      4
SDY1781      4
SDY1976      4
SDY1964      3
SDY1947      3
SDY1800      3
SDY1821      3
SDY1832      3
SDY1835      3
SDY1967      3
SDY1965      3
SDY1852      2
SDY1990      2
SDY1945      2
SDY1816      2
SDY1851      2
SDY1840      2
SDY1815      2
SDY1798      2
SDY1917      2
SDY1977      2
SDY1809      1
SDY1810      1
SDY1850      1
SDY1849      1
Name: STUDY_ACCESSION, dtype: int64