In [13]:
import pandas as pd 
from dataclasses import dataclass 
import json
from dataclasses_json import DataClassJsonMixin

In [51]:
@dataclass
class student(DataClassJsonMixin):
    name: str = None
    age: int = 0
    grades: list = None
        
@dataclass
class teacher(DataClassJsonMixin):
    student1: object = None
    student2: object = None

In [52]:
alex = student(
    name = "Alex",
    age = 75,
    grades = [1,2,3,4,5]
)

brian = student(
    name = "brian",
    age = 81,
    grades = [1,2,3,4,5]
)


pj = teacher(
    student1 = alex,
    student2 = brian
)

In [53]:
alex.grades
pj

teacher(student1=student(name='Alex', age=75, grades=[1, 2, 3, 4, 5]), student2=student(name='brian', age=81, grades=[1, 2, 3, 4, 5]))

In [54]:
some_json_string = pj.to_json(indent=4)
print(some_json_string)
# # Decoding from JSON
# MyDataClass.from_json(some_json_string)

{
    "student1": {
        "name": "Alex",
        "age": 75,
        "grades": [
            1,
            2,
            3,
            4,
            5
        ]
    },
    "student2": {
        "name": "brian",
        "age": 81,
        "grades": [
            1,
            2,
            3,
            4,
            5
        ]
    }
}

In [19]:
@dataclass
class MyDataClass(DataClassJsonMixin):
    name: str

my_dataclass_instance = MyDataClass('example')

# Encoding to JSON
some_json_string = my_dataclass_instance.to_json()
print(some_json_string)
# Decoding from JSON
# MyDataClass.from_json(some_json_string)

{"name": "example"}